/*Los estilos de la pagina Index*/
.SeccionPorqueElegirnos {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

/*Carta*/
.ImagenCarta {
    height: 200px;
    object-fit: cover;
}

#ImagenCentral {
    display: block;
    margin: 40px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.SeccionPorqueElegirnos {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.SeccionPorqueElegirnos h1 {
    font-size: 2rem;
    font-weight: bold;
}



.FilaViajaConNosotros {
    display: inline-block;
    align-items: center;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    font-size: 0.9rem;
    color: #555;
}


/*Lo necesario para Planifica.html*/
#PlanificaViaje {
    background-color: #f1f8ff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#PlanificaViaje h2 {
    font-weight: bold;
    color: #004080;
}

#PlanificaViaje .form-label {
    font-weight: 600;
}

#PlanificaViaje .btn-success {
    padding: 10px 25px;
    font-size: 1.1rem;
}

/*Desplegable de sugerencias*/
.sugerencias-container {
    position: absolute; 
    background: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    width: 200px;
    
}
.sugerencia-item {
    padding: 8px;  
    cursor: pointer; 
}


/*Lo necesario para la pagina Tours.html*/




/*Lo necesario para Contactanos.html*/
.formulario-contacto {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 40px auto;
    color: #333;
}




